<a class="social-icon" href="{{ site.author.links.github }}" aria-label="GitHub" title="GitHub">GH</a>
<a class="social-icon" href="{{ site.author.links.linkedin }}" aria-label="LinkedIn" title="LinkedIn">in</a>
<a class="social-icon" href="{{ site.author.links.x }}" aria-label="X" title="X">X</a>
<a class="social-icon" href="{{ site.author.links.instagram }}" aria-label="Instagram" title="Instagram">◎</a>
<a class="social-icon" href="{{ site.author.links.xiaohongshu }}" aria-label="Xiaohongshu" title="Xiaohongshu">小</a>
