---
layout: default
---
<article class="article-shell blog-article">
  <header class="article-header">
    <a class="back-link" href="{{ '/blog/' | relative_url }}">Blogs</a>
    <h1>{{ page.title }}</h1>
    <p class="article-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.reading_time %}<span>{{ page.reading_time }}</span>{% endif %}
      {% if page.tags and page.tags.size > 0 %}<span>{{ page.tags | join: ", " }}</span>{% endif %}
    </p>
  </header>
  <div class="prose">
    {{ content }}
  </div>
</article>
